<div class="col-sm-2"></div>

<div class="col-sm-8">
  <h1 id="header">What do you need to do today?</h1>

  <!-- CREATE -->
  <form ng-submit="addToDo(newToDo)" class="new-form">
    <p>
      <input type="text" ng-model="newToDo.task" class="form-control" placeholder="Task" autofocus required>
    </p>
    <p>
      <textarea ng-model="newToDo.details" class="form-control" placeholder="Details"></textarea>
    </p>
    <p>
      <button class="btn red-btn">Add Task</button>
    </p>
  </form>

  <!-- SHOW -->
  <div class="todos">
    <div ng-repeat="toDo in toDos | orderBy: 'done'" ng-Dblclick="showEditForm()" ng-style="{backgroundColor: doneColor}" class="todo-box">
      <div>
        <p ng-hide="hideToDo" ng-style="{textDecoration: doneText}"><strong>{{toDo.task}}</strong></p>

        <p>
          <span ng-hide="hideToDo" ng-click="markDone(toDo)" class="glyphicon glyphicon-ok done"></span>

          <span ng-hide="hideToDo" ng-click="showEditForm()" class="glyphicon glyphicon-pencil edit"></span>

          <!-- DELETE -->
          <span ng-hide="hideToDo" ng-click="deleteToDo(toDo)" class="glyphicon glyphicon-trash delete"></span>
        </p>

        <!-- EDIT -->
        <form ng-submit="editToDo(toDo)" ng-show="hideToDo">
          <p>
            <input type="text" ng-model="toDo.task" class="form-control" placeholder="Task" autofocus required>
          </p>
          <p>
            <textarea ng-model="toDo.details" class="form-control" placeholder="Details"></textarea>
          </p>
          <p>
            <button class="btn red-btn">Update Task</button>
          </p>
        </form>

        <p ng-hide="hideToDo" ng-style="{textDecoration: doneText}">{{toDo.details}}</p>

        <p ng-show="done">{{toDo.done | formatToDo}}</p>
      </div>
    </div>
  </div>

</div>

<div class="col-sm-2"></div>